<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>

点击切换语言：
<a href="?lang=zh_CN">简体中文</a> &nbsp;&nbsp;
<a href="?lang=en_US">English(US)</a><br>

    <form method="post" action="/hkgott/user/add">
        username<input type="text" name="userName">
        password<input type="text" name="password">
        email<input type="text" name="email">
        phone<input type="text" name="phone">
        createtime<input type="text" name="createTime">
        <input type="submit" name="submit">
    </form>
</body>
</html>