<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aisat.hkgott.mapper.RoleFunctionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aisat.hkgott.entity.RoleFunction">
        <id column="role_function_id" property="roleFunctionId" />
        <result column="role_id" property="roleId" />
        <result column="function_no" property="functionNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_function_id, role_id, function_no
    </sql>

</mapper>
